.flex {
  display: flex;
  width: 100%;
  height: 100vh;
}

.flex-wrapper1 {
  border: 1px solid rgb(94, 141, 24);
  width: 50%;
  background-color: #588324;
}

.flex-wrapper2 {
  border: 1px solid rgb(94, 160, 36);
  width: 50%;
  background-color: #588324;
}

.logo-wrapper {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: #6fa92c;
}

.logo-child {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 21px;
  left: 16px;
}

.logo-child2 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 13px;
  left: 24px;
}
.username {
  height: 24px;
}
.password {
  display: inline-block;
  border-radius: 50px;
  width: 5px;
}
button {
  background-color: #588324;
  border-radius: 50px;
  width: 100px;
  padding: 3px 10px;
}
.h2 {
  text-align: justify;
  height: fit-content;
}
.P {
  text-align: justify;
}
.hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
}
form {
  max-width: 300px;
}

.form-input {
  display: flex;
  flex-direction: column;
}
.div {
  display: inline-flex;
}
.mi {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
}
.hf {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
}